@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  color: #fff;
  font-size: 20px; /* novo */
  line-height: 1.5em; /* novo */
}

section.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 70px;
  display: flex;
  left: 0;
  justify-content: flex-start;
  align-items: center;
  background: #111;
  transition: 0.5s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.575);
  height: 70px;
  z-index: 1000;
}

header ul {
  position: relative;
  display: flex;
  margin-right: 80px;
}

header ul li {
  list-style: none;
  margin-left: 45px;
}

header ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgb(59, 235, 191);
  cursor: pointer;
}

.logo {
  color: #fff;
  font-size: 1.6em;
  font-weight: 500;
  text-transform: uppercase;
  float: left; 
  cursor: pointer; 
}

.logo img {
  float: left;
  margin-top: 32px;
}

.menu-icon {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 40px;
  background: url("../img/res-menu.png");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  float: right; 
  display: none; 
  
}

.menu-icon.active {
  position: relative;
  width: 35px;
  height: 35px;
  background: url("../img/res-close.png");
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vid-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(228, 152, 52, 0.555);
  mix-blend-mode: overlay;
}

section .text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 6em;
  font-weight: 700;
  color: rgb(59, 235, 191);
  line-height: 0.5em;
  margin-bottom: 0.5em;
  transition: 0.5s; 
}

.text h3 {
  font-size: 3em;
  font-weight: 700;
  color: rgb(250, 245, 245);
  line-height: 0.5em;
  transition: 0.5s;
}

.text p {
  font-size: 22px;
  color: #fff;
  margin: 44px 0;
  max-width: 700px;
}

.text a {
  font-size: 1.2em;
  background: rgba(59, 235, 191, 0.753);
  padding: 9px 20px;
  border-radius: 40px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 80px 40px;
  align-items: center;
  background: #111;
  transition: 0.5s;
}

section#about {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section#about h2 {
  text-align: center;
  font-size: 35px;
  width: 70%;
  margin: auto;
  color: rgba(59, 235, 191);
}

section#about h3 {
  text-align: left;
  font-size: 30px;
  padding-bottom: 30px;
}

.container {
  width: 80%;
  padding: 20px 0;
}

.about-cols {
  margin-top: 90px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
}

.about-left {
  width: 40%;
  float: left;
  overflow: hidden;
  margin-right: 35px;
}

.about-right {
  width: 80%;
  float: right;
  overflow: hidden;
  margin-left: 35px;
}

.about-left-license {
  width: 40%;
  float: left;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 20px;
}

.about-right-license {
  width: 60%;
  float: right;
  overflow: hidden;
  margin-left: 15px;
  display: flex;
}

.about-right-license img {
  margin-left: 35px;
  width: auto;
  height: auto;
}

#h3-quote {
  margin-top: 120px;
  color: rgba(59, 235, 191);
}

section#training {
  position: relative;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background: rgb(17, 17, 17);
  transition: 0.5s;
}

.courses {
  margin-top: 70px;
}

.courses h4 {
  font-size: 22px;
  font-weight: 700;
  padding: 0 4px;
}

.prlx {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/courses.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 300px;
}

.ptext h3 {
  text-align: center;
  padding-top: 100px;
  width: 100%;
  font-size: 49px;
  text-transform: uppercase;
}

.courses-row {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  box-sizing: border-box;
}

.courses-column {
  margin-top: 20px;
  max-width: 20%;
  height: auto;
  display: inline-block;
  margin: 15px 25px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid rgba(59, 235, 191);
  border-radius: 7px;
}

.image-gluid {
  max-width: 100%;
  height: auto;
}

.course-text {
  padding: 22px 0;
}

.course-btn {
  padding-bottom: 22px;
}

.course-btn button {
  border-radius: 15px;
  border: none;
  padding: 4px;
  width: 90px;
  color: #111;
  background-color: rgba(59, 235, 191);
  font-weight: 700;
}

@media (max-width: 1200px) {
  .about-left-license {
    width: 30%;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 20px;
  }

  .about-right-license {
    width: 70%;
    float: right;
    overflow: hidden;
    margin-left: 15px;
    display: flex;
  }

  .about-left-license img,
  .about-right-license img {
    width: 240px;
    height: 361px;
  }

  #h3-quote {
    margin-top: 70px;
  }
  
  .courses-column {
   max-width: 50%;
  
}

@media (max-width: 997px) {
  
  .about-cols {
    display: block;
    margin: 80px auto;
    width: 90%;
    align-items: center;
  }

  .about-left,
  .about-right,
  .about-left-license,
  .about-right-license {
    float: none;
    margin: 35px auto;
    text-align: center;
    width: 100%;
  }

  .text h2 {
    font-size: 4em;
    text-align: center;
  }

  .text h3 {
    font-size: 1.7em;
    text-align: center;
  }
  
  .menu-icon {
    display: block;
  }

  header ul {
    position: absolute;
    top: -100%;
    right: 0;
    margin: auto;
    width: 100%;
    height: calc(100vh - 70px);
    padding: 50px 70px;
    text-align: center;
    overflow: auto;
    background-color: rgba(17, 17, 17, 0.87);
    flex-direction: column;
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.5s;
  }

  header li {
    margin-bottom: 30px;
  }

  header li:first-child {
    margin-top: 15vh;
  }

  header ul li a {
    font-size: 27px;
  }

  header.active {
    background-color: rgba(17, 17, 17, 0.87);
  }

  header.active ul {
    top: 70px;
    opacity: 1;
    transform: translateY(0);
  }

  .text h2 {
    line-height: 0.8em;
  }
  .text h3 {
    line-height: 1.1em;
  }
  
  #h3-quote {
    margin-top: 0px;
  }

  .about-right-license img {
    margin-left: 15px;
    width: auto;
    height: auto;
  }

  section#about h3 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
  }

  .about-left img {
    width: 206px;
    height: 179px;
  }
}

@media (max-width: 670px) {
  .about-left-license img,
  .about-right-license img {
    width: 160px;
    height: 281px;
  }
  
    .courses-column {
    max-width: 100%;
  }
}


