@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 70px;
  display: flex;
  left: 0;
  justify-content: flex-start;
  align-items: center;
  background: #111;
  transition: 0.5s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.575);
  height: 70px;
  z-index: 1000;
}

header ul {
  position: relative;
  display: flex;
  margin-right: 80px;
}

header ul li {
  list-style: none;
  margin-left: 45px;
}

header ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgb(59, 235, 191);
  cursor: pointer;
}

.logo {
  color: #fff;
  font-size: 1.6em;
  font-weight: 500;
  text-transform: uppercase;
  float: left; 
  cursor: pointer; 
}

.logo img {
  float: left;
  margin-top: 32px;
}

.menu-icon {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 40px;
  background: url("../img/res-menu.png");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  float: right; 
  display: none; 
  
}

.menu-icon.active {
  position: relative;
  width: 35px;
  height: 35px;
  background: url("../img/res-close.png");
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vid-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(228, 152, 52, 0.555);
  mix-blend-mode: overlay;
}

section .text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 6em;
  font-weight: 700;
  color: rgb(59, 235, 191);
  line-height: 0.4em;
  margin-bottom: 0.5em;
  transition: 0.5s; 
}

.text h3 {
  font-size: 3em;
  font-weight: 700;
  color: rgb(250, 245, 245);
  line-height: 0.4em;
  transition: 0.5s;
}

.text p {
  font-size: 22px;
  color: #fff;
  margin: 24px 0;
  max-width: 700px;
}

.text a {
  font-size: 1.2em;
  background: rgba(59, 235, 191, 0.753);
  padding: 9px 20px;
  border-radius: 40px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 997px) {
  .menu-icon {
    display: block;
  }

  header ul {
    position: absolute;
    top: -100%;
    right: 0;
    margin: auto;
    width: 100%;
    height: calc(100vh - 70px);
    padding: 50px 70px;
    text-align: center;
    overflow: auto;
    background-color: rgba(17, 17, 17, 0.87);
    flex-direction: column;
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.5s;
  }

  header li {
    margin-bottom: 30px;
  }

  header li:first-child {
    margin-top: 15vh;
  }

  header ul li a {
    font-size: 27px;
  }

  header.active {
    background-color: rgba(17, 17, 17, 0.87);
  }

  header.active ul {
    top: 70px;
    opacity: 1;
    transform: translateY(0);
  }

  .text h2 {
    line-height: 0.8em;
  }
  .text h3 {
    line-height: 1.1em;
  }
}

